<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lista_agendamento.css') }}">
</head>
<body>
    <main>
        <div class="h2"></div>
        <h2>Todos os agendamentos</h2>
        <div class="mobile">
            <table>
            <thead>
                <tr>
                    <th>NOME</th>
                    <th>EMAIL</th>
                    <th>TELEFONE</th>
                    <th>HORARIO</th>
                    <th>OBSERVAÇÃO</th>
                    <th>AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                {% for item in agendamentos %}
                <tr>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                    <td><a href="{{ url_for('abrir_editar', id=item[0]) }}">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </main>
</body>
</html>