<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lista_agendamento.css') }}">
</head>
<body>
<header>
        <h1>Lista de agendamentos</h1>

    </header>
    <main>
        <h2>Todos os agendamentos</h2>
        <table>
            <thead>
                <tr>
                    <th>NOME</th>
                    <th>EMAIL</th>
                    <th>TELEFONE</th>
                    <th>HORARIO</th>
                     <th>OBSERVAÇÃO</th>
                     <th>AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                {% for item in agendamentos %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>