
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Veterinário</title>
    <link rel="stylesheet" href="/static/css/login_veterinario.css">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/img.dogdodoi.png') }}" alt="Logo Dog Dodói" class="header-image">
    </header>
    <div class="login-container">
        <h1>Acesse sua Conta</h1>
        <form  action="{{ url_for('login') }}" method="post">
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            <label for="email">email:</label>
            <input type="email" id="email" name="email" >
            <label for="password">senha:</label>
            <input type="password" id="password" name="password">

            <button type="submit" class="btn-login">entrar</button>
            <br><br>

        </form>
        <a href="{{ url_for('abrir_tela_cadastro') }}" class="btn-login" >CADASTRE-SE</a>


    </div>

</body>
</html>
